.todo{
    width: 100%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin-top: 4rem;
}

.todo form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.todo form input[type="text"]{
    padding: 0.5rem 10rem 0.5rem 1rem;
    font-size: 1rem;
}
.todo form button{
    height: 100%;
    border-radius: 0.01rem;
}
.todo form button:hover{
    border: 0.01rem solid white;
}

.todo_list{
    width: 450px;
}
.todo_list_item{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.todo_list_item .txt{
    display: flex;
    gap: 0.5rem;
}
.todo_list_item .txt h4{
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: start;
}
.todo_list_item_completed{
    opacity: 30%;
}
.clear_btn{
    width: 100%;
}
.clear_btn button{
    width: 100%;
    border-radius: 0.01rem;
}
.clear_btn button:hover{
    border: 0.01rem solid white;
}