.header{
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: #393939;
    margin-bottom: 10rem;
}