@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&family=Poppins:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
}
:root{
    --main--bg:rgb(12, 29, 40);
    --main-font:rgb(74, 164, 225);
    --glow-blue:rgb(54, 203, 240);
    --disable--font:rgba(56, 121, 164, 0.701);
    --disable--bg:rgba(255, 255, 255, 0.05);
    --danger:rgb(201, 0, 0);
}
.todo-app{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    min-height: 100vh;
    background-color: var(--main--bg);
    color: var(--main-font);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}